{
  "extends": [
    "airbnb",
    // https://github.com/prettier/eslint-config-prettier
    "prettier"
  ],
  "rules": {
    // https://github.com/prettier/eslint-plugin-prettier
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  },
  "plugins": ["prettier"]
}
